-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: honestbee_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `ADMIN_id` varchar(120) NOT NULL,
  `ADMIN_email` varchar(190) NOT NULL,
  `ADMIN_password` varchar(255) NOT NULL,
  `ADMIN_fullName` varchar(190) DEFAULT NULL,
  `ADMIN_status` varchar(40) NOT NULL DEFAULT 'Active',
  `ADMIN_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `ADMIN_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`ADMIN_data`)),
  PRIMARY KEY (`ADMIN_id`),
  UNIQUE KEY `ADMIN_email` (`ADMIN_email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES ('admin-honestbee-dm','admindm@honestbee.com','admin123','Admin','Active','2026-05-06 13:55:55','{\"USER_role\": \"Admin\", \"USER_email\": \"admindm@honestbee.com\"}');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer` (
  `CUST_id` varchar(120) NOT NULL,
  `CUST_fullName` varchar(190) DEFAULT NULL,
  `CUST_email` varchar(190) DEFAULT NULL,
  `CUST_phone` varchar(20) DEFAULT NULL,
  `CUST_address` text DEFAULT NULL,
  `CUST_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `CUST_updatedAt` datetime DEFAULT NULL,
  `CUST_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`CUST_data`)),
  PRIMARY KEY (`CUST_id`),
  KEY `idx_customer_email` (`CUST_email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_order`
--

DROP TABLE IF EXISTS `customer_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_order` (
  `ORDER_id` varchar(120) NOT NULL,
  `ORDER_customerId` varchar(120) DEFAULT NULL,
  `ORDER_riderId` varchar(120) DEFAULT NULL,
  `ORDER_merchantId` varchar(120) DEFAULT NULL,
  `ORDER_deliveryId` varchar(120) DEFAULT NULL,
  `ORDER_status` varchar(60) NOT NULL DEFAULT 'Placed',
  `ORDER_totalAmount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_scheduledTime` varchar(120) DEFAULT NULL,
  `ORDER_paymentMethod` varchar(80) DEFAULT NULL,
  `ORDER_customerEmail` varchar(190) DEFAULT NULL,
  `ORDER_customerName` varchar(190) DEFAULT NULL,
  `ORDER_customerPhone` varchar(20) DEFAULT NULL,
  `ORDER_customerAddress` text DEFAULT NULL,
  `ORDER_date` datetime NOT NULL DEFAULT current_timestamp(),
  `ORDER_updatedAt` datetime DEFAULT NULL,
  `ORDER_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`ORDER_data`)),
  PRIMARY KEY (`ORDER_id`),
  KEY `idx_customer_order_customer` (`ORDER_customerId`),
  KEY `idx_customer_order_merchant` (`ORDER_merchantId`),
  KEY `idx_customer_order_rider` (`ORDER_riderId`),
  KEY `idx_customer_order_status` (`ORDER_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_order`
--

LOCK TABLES `customer_order` WRITE;
/*!40000 ALTER TABLE `customer_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delivery`
--

DROP TABLE IF EXISTS `delivery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `delivery` (
  `DEL_id` varchar(120) NOT NULL,
  `DEL_orderId` varchar(120) DEFAULT NULL,
  `DEL_address` text DEFAULT NULL,
  `DEL_serviceArea` varchar(190) DEFAULT NULL,
  `DEL_status` varchar(60) NOT NULL DEFAULT 'Pending',
  `DEL_time` varchar(120) DEFAULT NULL,
  `DEL_serviceHours` varchar(120) DEFAULT NULL,
  `DEL_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `DEL_updatedAt` datetime DEFAULT NULL,
  `DEL_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`DEL_data`)),
  PRIMARY KEY (`DEL_id`),
  KEY `idx_delivery_status` (`DEL_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery`
--

LOCK TABLES `delivery` WRITE;
/*!40000 ALTER TABLE `delivery` DISABLE KEYS */;
/*!40000 ALTER TABLE `delivery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `merchant`
--

DROP TABLE IF EXISTS `merchant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `merchant` (
  `MERCH_id` varchar(120) NOT NULL,
  `MERCH_ownerName` varchar(190) DEFAULT NULL,
  `MERCH_ownerEmail` varchar(190) DEFAULT NULL,
  `MERCH_password` varchar(255) DEFAULT NULL,
  `MERCH_phone` varchar(20) DEFAULT NULL,
  `MERCH_name` varchar(190) DEFAULT NULL,
  `MERCH_type` varchar(80) DEFAULT NULL,
  `MERCH_address` text DEFAULT NULL,
  `MERCH_serviceArea` varchar(190) DEFAULT NULL,
  `MERCH_businessHours` varchar(120) DEFAULT NULL,
  `MERCH_businessProof` text DEFAULT NULL,
  `MERCH_availableDays` varchar(190) DEFAULT NULL,
  `MERCH_preparationTime` varchar(80) DEFAULT NULL,
  `MERCH_approvalStatus` varchar(40) NOT NULL DEFAULT 'Pending',
  `MERCH_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `MERCH_updatedAt` datetime DEFAULT NULL,
  `MERCH_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`MERCH_data`)),
  PRIMARY KEY (`MERCH_id`),
  KEY `idx_merchant_email` (`MERCH_ownerEmail`),
  KEY `idx_merchant_status` (`MERCH_approvalStatus`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `merchant`
--

LOCK TABLES `merchant` WRITE;
/*!40000 ALTER TABLE `merchant` DISABLE KEYS */;
/*!40000 ALTER TABLE `merchant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_item`
--

DROP TABLE IF EXISTS `order_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_item` (
  `ITEM_id` varchar(120) NOT NULL,
  `ITEM_orderId` varchar(120) DEFAULT NULL,
  `ITEM_productId` varchar(120) DEFAULT NULL,
  `ITEM_merchantId` varchar(120) DEFAULT NULL,
  `ITEM_merchantName` varchar(190) DEFAULT NULL,
  `ITEM_name` varchar(190) DEFAULT NULL,
  `ITEM_quantity` int(11) NOT NULL DEFAULT 1,
  `ITEM_unitPrice` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ITEM_unit` varchar(80) DEFAULT NULL,
  `ITEM_image` text DEFAULT NULL,
  `ITEM_instructions` text DEFAULT NULL,
  `ITEM_status` varchar(60) NOT NULL DEFAULT 'Available',
  `ITEM_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `ITEM_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`ITEM_data`)),
  PRIMARY KEY (`ITEM_id`),
  KEY `idx_order_item_order` (`ITEM_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_item`
--

LOCK TABLES `order_item` WRITE;
/*!40000 ALTER TABLE `order_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `ORDER_id` varchar(120) NOT NULL,
  `ORDER_customerId` varchar(120) DEFAULT NULL,
  `ORDER_riderId` varchar(120) DEFAULT NULL,
  `ORDER_merchantId` varchar(120) DEFAULT NULL,
  `ORDER_deliveryId` varchar(120) DEFAULT NULL,
  `ORDER_status` varchar(60) NOT NULL DEFAULT 'Placed',
  `ORDER_totalAmount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_scheduledTime` varchar(120) DEFAULT NULL,
  `ORDER_paymentMethod` varchar(80) DEFAULT NULL,
  `ORDER_date` datetime NOT NULL DEFAULT current_timestamp(),
  `ORDER_updatedAt` datetime DEFAULT NULL,
  `ORDER_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`ORDER_data`)),
  PRIMARY KEY (`ORDER_id`),
  KEY `idx_orders_status` (`ORDER_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_transaction`
--

DROP TABLE IF EXISTS `payment_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_transaction` (
  `PAY_id` varchar(120) NOT NULL,
  `PAY_orderId` varchar(120) DEFAULT NULL,
  `PAY_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `PAY_method` varchar(80) DEFAULT NULL,
  `PAY_status` varchar(60) NOT NULL DEFAULT 'Authorized',
  `PAY_reference` varchar(120) DEFAULT NULL,
  `PAY_date` datetime NOT NULL DEFAULT current_timestamp(),
  `PAY_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`PAY_data`)),
  PRIMARY KEY (`PAY_id`),
  KEY `idx_payment_order` (`PAY_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_transaction`
--

LOCK TABLES `payment_transaction` WRITE;
/*!40000 ALTER TABLE `payment_transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `PROD_id` varchar(120) NOT NULL,
  `PROD_merchantId` varchar(120) DEFAULT NULL,
  `PROD_name` varchar(190) DEFAULT NULL,
  `PROD_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `PROD_category` varchar(120) DEFAULT NULL,
  `PROD_unit` varchar(80) DEFAULT NULL,
  `PROD_description` text DEFAULT NULL,
  `PROD_type` varchar(40) DEFAULT NULL,
  `PROD_tag` varchar(80) DEFAULT NULL,
  `PROD_rating` varchar(20) DEFAULT NULL,
  `PROD_image` text DEFAULT NULL,
  `PROD_alt` varchar(190) DEFAULT NULL,
  `PROD_approvalStatus` varchar(40) NOT NULL DEFAULT 'Active',
  `PROD_source` varchar(80) DEFAULT NULL,
  `PROD_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `PROD_updatedAt` datetime DEFAULT NULL,
  `PROD_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`PROD_data`)),
  PRIMARY KEY (`PROD_id`),
  KEY `idx_product_merchant` (`PROD_merchantId`),
  KEY `idx_product_status` (`PROD_approvalStatus`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rating`
--

DROP TABLE IF EXISTS `rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rating` (
  `RATE_id` varchar(120) NOT NULL,
  `RATE_orderId` varchar(120) DEFAULT NULL,
  `RATE_customerId` varchar(120) DEFAULT NULL,
  `RATE_riderId` varchar(120) DEFAULT NULL,
  `RATE_serviceScore` int(11) NOT NULL DEFAULT 5,
  `RATE_shopperScore` int(11) NOT NULL DEFAULT 5,
  `RATE_feedbackComment` text DEFAULT NULL,
  `RATE_date` datetime NOT NULL DEFAULT current_timestamp(),
  `RATE_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`RATE_data`)),
  PRIMARY KEY (`RATE_id`),
  KEY `idx_rating_order` (`RATE_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rating`
--

LOCK TABLES `rating` WRITE;
/*!40000 ALTER TABLE `rating` DISABLE KEYS */;
INSERT INTO `rating` VALUES ('8981274d456b15d2e810','349b3804174bd094dab8','','',5,5,'nice','2026-05-09 16:00:22','{\"ORDER_id\":\"349b3804174bd094dab8\",\"CUST_id\":\"\",\"SHOP_id\":\"\",\"RATE_serviceScore\":5,\"RATE_shopperScore\":5,\"RATE_feedbackComment\":\"nice\",\"RATE_date\":\"2026-05-09 16:00:22\",\"order_id\":\"349b3804174bd094dab8\",\"customer_id\":\"\",\"serviceScore\":5,\"shopperScore\":5,\"comment\":\"nice\",\"createdAt\":\"2026-05-09 16:00:22\",\"RATE_id\":\"8981274d456b15d2e810\"}');
/*!40000 ALTER TABLE `rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refund`
--

DROP TABLE IF EXISTS `refund`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `refund` (
  `REFUND_id` varchar(120) NOT NULL,
  `REFUND_orderId` varchar(120) DEFAULT NULL,
  `REFUND_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `REFUND_reason` text DEFAULT NULL,
  `REFUND_status` varchar(60) NOT NULL DEFAULT 'Pending',
  `REFUND_date` datetime NOT NULL DEFAULT current_timestamp(),
  `REFUND_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`REFUND_data`)),
  PRIMARY KEY (`REFUND_id`),
  KEY `idx_refund_order` (`REFUND_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refund`
--

LOCK TABLES `refund` WRITE;
/*!40000 ALTER TABLE `refund` DISABLE KEYS */;
/*!40000 ALTER TABLE `refund` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rider`
--

DROP TABLE IF EXISTS `rider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rider` (
  `RIDER_id` varchar(120) NOT NULL,
  `RIDER_fullName` varchar(190) DEFAULT NULL,
  `RIDER_email` varchar(190) DEFAULT NULL,
  `RIDER_password` varchar(255) DEFAULT NULL,
  `RIDER_phone` varchar(20) DEFAULT NULL,
  `RIDER_currentLocation` varchar(190) DEFAULT NULL,
  `RIDER_vehicleType` varchar(80) DEFAULT NULL,
  `RIDER_preferredServiceArea` varchar(190) DEFAULT NULL,
  `RIDER_validId` text DEFAULT NULL,
  `RIDER_availabilityStatus` varchar(40) NOT NULL DEFAULT 'Unavailable',
  `RIDER_employmentStatus` varchar(40) NOT NULL DEFAULT 'Pending',
  `RIDER_maxActiveOrders` int(11) NOT NULL DEFAULT 1,
  `RIDER_role` varchar(40) NOT NULL DEFAULT 'rider',
  `RIDER_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `RIDER_updatedAt` datetime DEFAULT NULL,
  `RIDER_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`RIDER_data`)),
  PRIMARY KEY (`RIDER_id`),
  KEY `idx_rider_email` (`RIDER_email`),
  KEY `idx_rider_status` (`RIDER_employmentStatus`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rider`
--

LOCK TABLES `rider` WRITE;
/*!40000 ALTER TABLE `rider` DISABLE KEYS */;
/*!40000 ALTER TABLE `rider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stores`
--

DROP TABLE IF EXISTS `stores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stores` (
  `STORE_id` varchar(120) NOT NULL,
  `STORE_merchantId` varchar(120) DEFAULT NULL,
  `STORE_status` varchar(60) NOT NULL DEFAULT 'Open',
  `STORE_reviewedAt` datetime DEFAULT NULL,
  `STORE_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`STORE_data`)),
  PRIMARY KEY (`STORE_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stores`
--

LOCK TABLES `stores` WRITE;
/*!40000 ALTER TABLE `stores` DISABLE KEYS */;
INSERT INTO `stores` VALUES ('merchant-dm-store','merchant-dm-store','Open','2026-05-07 18:43:51','{\"STORE_id\":\"merchant-dm-store\",\"MERCH_id\":\"merchant-dm-store\",\"STORE_status\":\"Open\",\"STORE_reviewedAt\":\"2026-05-07 18:43:51\"}');
/*!40000 ALTER TABLE `stores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `substitution`
--

DROP TABLE IF EXISTS `substitution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `substitution` (
  `SUB_id` varchar(120) NOT NULL,
  `SUB_itemId` varchar(120) DEFAULT NULL,
  `SUB_orderId` varchar(120) DEFAULT NULL,
  `SUB_originalItem` varchar(190) DEFAULT NULL,
  `SUB_substituteItem` varchar(190) DEFAULT NULL,
  `SUB_approvalStatus` varchar(60) NOT NULL DEFAULT 'Pending',
  `SUB_approvalDate` datetime DEFAULT NULL,
  `SUB_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `SUB_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`SUB_data`)),
  PRIMARY KEY (`SUB_id`),
  KEY `idx_sub_order` (`SUB_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `substitution`
--

LOCK TABLES `substitution` WRITE;
/*!40000 ALTER TABLE `substitution` DISABLE KEYS */;
/*!40000 ALTER TABLE `substitution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_account`
--

DROP TABLE IF EXISTS `user_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_account` (
  `USER_id` varchar(120) NOT NULL,
  `USER_fullName` varchar(190) DEFAULT NULL,
  `USER_email` varchar(190) NOT NULL,
  `USER_phone` varchar(20) DEFAULT NULL,
  `USER_password` varchar(255) NOT NULL,
  `USER_role` varchar(40) NOT NULL DEFAULT 'customer',
  `USER_linkedId` varchar(120) DEFAULT NULL,
  `USER_status` varchar(40) DEFAULT NULL,
  `USER_preferredDeliveryTime` varchar(60) DEFAULT NULL,
  `USER_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `USER_updatedAt` datetime DEFAULT NULL,
  `USER_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`USER_data`)),
  PRIMARY KEY (`USER_id`),
  UNIQUE KEY `USER_email` (`USER_email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_account`
--

LOCK TABLES `user_account` WRITE;
/*!40000 ALTER TABLE `user_account` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_account` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-14 12:17:24
