-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: honestbee_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `ADMIN_id` varchar(120) NOT NULL,
  `ADMIN_email` varchar(190) NOT NULL,
  `ADMIN_password` varchar(255) NOT NULL,
  `ADMIN_fullName` varchar(190) DEFAULT NULL,
  `ADMIN_status` varchar(40) NOT NULL DEFAULT 'Active',
  `ADMIN_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ADMIN_id`),
  UNIQUE KEY `ADMIN_email` (`ADMIN_email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES ('admin-honestbee-dm','admindm@honestbee.com','admin123','Admin','Active','2026-05-06 13:55:55');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer` (
  `CUST_id` varchar(120) NOT NULL,
  `CUST_firstName` varchar(80) DEFAULT NULL,
  `CUST_lastName` varchar(80) DEFAULT NULL,
  `CUST_email` varchar(190) DEFAULT NULL,
  `CUST_phone` varchar(20) DEFAULT NULL,
  `CUST_city` varchar(80) DEFAULT NULL,
  `CUST_address` text DEFAULT NULL,
  `CUST_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `CUST_updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`CUST_id`),
  KEY `idx_customer_email` (`CUST_email`),
  KEY `idx_customer_city` (`CUST_city`),
  CONSTRAINT `fk_customer_city` FOREIGN KEY (`CUST_city`) REFERENCES `service_city` (`CITY_name`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
INSERT INTO `customer` VALUES ('customer-neridm-school-gmail-com','Dec Martin','Neri','neridm.school@gmail.com','09957913852','Cebu City','Cebu City, Cebu, PH','2026-05-07 17:34:16','2026-05-14 12:37:36');
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_order`
--

DROP TABLE IF EXISTS `customer_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_order` (
  `ORDER_id` varchar(120) NOT NULL,
  `ORDER_customerId` varchar(120) DEFAULT NULL,
  `ORDER_riderId` varchar(120) DEFAULT NULL,
  `ORDER_merchantId` varchar(120) DEFAULT NULL,
  `ORDER_deliveryId` varchar(120) DEFAULT NULL,
  `ORDER_status` varchar(60) NOT NULL DEFAULT 'Placed',
  `ORDER_totalAmount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_scheduledTime` varchar(120) DEFAULT NULL,
  `ORDER_paymentMethod` varchar(80) DEFAULT NULL,
  `ORDER_paymentStatus` varchar(80) DEFAULT NULL,
  `ORDER_customerEmail` varchar(190) DEFAULT NULL,
  `ORDER_customerName` varchar(190) DEFAULT NULL,
  `ORDER_customerPhone` varchar(20) DEFAULT NULL,
  `ORDER_customerAddress` text DEFAULT NULL,
  `ORDER_merchantName` varchar(190) DEFAULT NULL,
  `ORDER_cardLast4` varchar(4) DEFAULT NULL,
  `ORDER_cardholderName` varchar(190) DEFAULT NULL,
  `ORDER_storeSource` varchar(80) DEFAULT NULL,
  `ORDER_storeStatus` varchar(80) DEFAULT NULL,
  `ORDER_needsSellerPayCheck` tinyint(1) NOT NULL DEFAULT 0,
  `ORDER_sellerPaymentVerified` tinyint(1) NOT NULL DEFAULT 0,
  `ORDER_paymentVerification` varchar(120) DEFAULT NULL,
  `ORDER_paymentVerifiedBy` varchar(120) DEFAULT NULL,
  `ORDER_paymentVerifiedAt` datetime DEFAULT NULL,
  `ORDER_rejectedRiders` text DEFAULT NULL,
  `ORDER_lastRiderId` varchar(120) DEFAULT NULL,
  `ORDER_lastRiderAction` varchar(60) DEFAULT NULL,
  `ORDER_subtotal` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_deliveryFee` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_serviceFee` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_itemCount` int(11) NOT NULL DEFAULT 0,
  `ORDER_date` datetime NOT NULL DEFAULT current_timestamp(),
  `ORDER_updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`ORDER_id`),
  KEY `idx_customer_order_customer` (`ORDER_customerId`),
  KEY `idx_customer_order_merchant` (`ORDER_merchantId`),
  KEY `idx_customer_order_rider` (`ORDER_riderId`),
  KEY `idx_customer_order_status` (`ORDER_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_order`
--

LOCK TABLES `customer_order` WRITE;
/*!40000 ALTER TABLE `customer_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delivery`
--

DROP TABLE IF EXISTS `delivery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `delivery` (
  `DEL_id` varchar(120) NOT NULL,
  `DEL_orderId` varchar(120) DEFAULT NULL,
  `DEL_address` text DEFAULT NULL,
  `DEL_serviceArea` varchar(190) DEFAULT NULL,
  `DEL_status` varchar(60) NOT NULL DEFAULT 'Pending',
  `DEL_time` varchar(120) DEFAULT NULL,
  `DEL_serviceHours` varchar(120) DEFAULT NULL,
  `DEL_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `DEL_updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`DEL_id`),
  KEY `idx_delivery_status` (`DEL_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery`
--

LOCK TABLES `delivery` WRITE;
/*!40000 ALTER TABLE `delivery` DISABLE KEYS */;
INSERT INTO `delivery` VALUES ('24e4bb304d4d42742f73',NULL,'Cebu City, Cebu, PH','Cebu','Shopper accepted','May 13, 2026, 11:08 AM','08:00-21:00','2026-05-13 11:08:58','2026-05-13 11:10:49'),('7517934b1b17c70c8785',NULL,'Cebu City, Cebu, PH','Cebu','Pending','May 13, 2026, 11:06 AM','45-60 min','2026-05-13 11:07:29','2026-05-13 11:07:29');
/*!40000 ALTER TABLE `delivery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `merchant`
--

DROP TABLE IF EXISTS `merchant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `merchant` (
  `MERCH_id` varchar(120) NOT NULL,
  `MERCH_ownerFirstName` varchar(80) DEFAULT NULL,
  `MERCH_ownerLastName` varchar(80) DEFAULT NULL,
  `MERCH_ownerEmail` varchar(190) DEFAULT NULL,
  `MERCH_password` varchar(255) DEFAULT NULL,
  `MERCH_phone` varchar(20) DEFAULT NULL,
  `MERCH_name` varchar(190) DEFAULT NULL,
  `MERCH_type` varchar(80) DEFAULT NULL,
  `MERCH_address` text DEFAULT NULL,
  `MERCH_serviceArea` varchar(80) DEFAULT NULL,
  `MERCH_businessHours` varchar(120) DEFAULT NULL,
  `MERCH_businessProof` text DEFAULT NULL,
  `MERCH_availableDays` varchar(190) DEFAULT NULL,
  `MERCH_preparationTime` varchar(80) DEFAULT NULL,
  `MERCH_approvalStatus` varchar(40) NOT NULL DEFAULT 'Pending',
  `MERCH_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `MERCH_updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`MERCH_id`),
  KEY `idx_merchant_email` (`MERCH_ownerEmail`),
  KEY `idx_merchant_status` (`MERCH_approvalStatus`),
  KEY `idx_merchant_service_area` (`MERCH_serviceArea`),
  CONSTRAINT `fk_merchant_service_area` FOREIGN KEY (`MERCH_serviceArea`) REFERENCES `service_city` (`CITY_name`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `merchant`
--

LOCK TABLES `merchant` WRITE;
/*!40000 ALTER TABLE `merchant` DISABLE KEYS */;
/*!40000 ALTER TABLE `merchant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_item`
--

DROP TABLE IF EXISTS `order_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_item` (
  `ITEM_id` varchar(120) NOT NULL,
  `ITEM_orderId` varchar(120) DEFAULT NULL,
  `ITEM_productId` varchar(120) DEFAULT NULL,
  `ITEM_merchantId` varchar(120) DEFAULT NULL,
  `ITEM_merchantName` varchar(190) DEFAULT NULL,
  `ITEM_name` varchar(190) DEFAULT NULL,
  `ITEM_quantity` int(11) NOT NULL DEFAULT 1,
  `ITEM_unitPrice` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ITEM_unit` varchar(80) DEFAULT NULL,
  `ITEM_image` text DEFAULT NULL,
  `ITEM_instructions` text DEFAULT NULL,
  `ITEM_substitutePolicy` varchar(40) DEFAULT NULL,
  `ITEM_substituteName` varchar(190) DEFAULT NULL,
  `ITEM_status` varchar(60) NOT NULL DEFAULT 'Available',
  `ITEM_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ITEM_id`),
  KEY `idx_order_item_order` (`ITEM_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_item`
--

LOCK TABLES `order_item` WRITE;
/*!40000 ALTER TABLE `order_item` DISABLE KEYS */;
INSERT INTO `order_item` VALUES ('61a811525f5cca7707b7','fe5d971c18c56c20f5a5','merchant-dm-store-jedi-s-deodorant','merchant-dm-store','DM Store','Jedi\'s Deodorant',1,100.00,'1','assets/img/offline/086-photo-1607083206968-13611e3d76db.jpg','','suggest',NULL,'Available','2026-05-13 11:08:58'),('bfb53cdab63905ff9b0b','9facfedeb9548931af88','metro-rice','merchant-metro-supermarket-ayala-cebu','Metro Supermarket Ayala Cebu','Ganador jasmine rice',2,365.00,'5 kg','assets/img/offline/086-photo-1607083206968-13611e3d76db.jpg','','suggest',NULL,'Available','2026-05-13 11:07:29');
/*!40000 ALTER TABLE `order_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `ORDER_id` varchar(120) NOT NULL,
  `ORDER_customerId` varchar(120) DEFAULT NULL,
  `ORDER_riderId` varchar(120) DEFAULT NULL,
  `ORDER_merchantId` varchar(120) DEFAULT NULL,
  `ORDER_deliveryId` varchar(120) DEFAULT NULL,
  `ORDER_status` varchar(60) NOT NULL DEFAULT 'Placed',
  `ORDER_totalAmount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_scheduledTime` varchar(120) DEFAULT NULL,
  `ORDER_paymentMethod` varchar(80) DEFAULT NULL,
  `ORDER_paymentStatus` varchar(80) DEFAULT NULL,
  `ORDER_customerEmail` varchar(190) DEFAULT NULL,
  `ORDER_customerName` varchar(190) DEFAULT NULL,
  `ORDER_customerPhone` varchar(20) DEFAULT NULL,
  `ORDER_customerAddress` text DEFAULT NULL,
  `ORDER_merchantName` varchar(190) DEFAULT NULL,
  `ORDER_cardLast4` varchar(4) DEFAULT NULL,
  `ORDER_cardholderName` varchar(190) DEFAULT NULL,
  `ORDER_storeSource` varchar(80) DEFAULT NULL,
  `ORDER_storeStatus` varchar(80) DEFAULT NULL,
  `ORDER_needsSellerPayCheck` tinyint(1) NOT NULL DEFAULT 0,
  `ORDER_sellerPaymentVerified` tinyint(1) NOT NULL DEFAULT 0,
  `ORDER_paymentVerification` varchar(120) DEFAULT NULL,
  `ORDER_paymentVerifiedBy` varchar(120) DEFAULT NULL,
  `ORDER_paymentVerifiedAt` datetime DEFAULT NULL,
  `ORDER_rejectedRiders` text DEFAULT NULL,
  `ORDER_lastRiderId` varchar(120) DEFAULT NULL,
  `ORDER_lastRiderAction` varchar(60) DEFAULT NULL,
  `ORDER_subtotal` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_deliveryFee` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_serviceFee` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ORDER_itemCount` int(11) NOT NULL DEFAULT 0,
  `ORDER_date` datetime NOT NULL DEFAULT current_timestamp(),
  `ORDER_updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`ORDER_id`),
  KEY `idx_orders_status` (`ORDER_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_transaction`
--

DROP TABLE IF EXISTS `payment_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_transaction` (
  `PAY_id` varchar(120) NOT NULL,
  `PAY_orderId` varchar(120) DEFAULT NULL,
  `PAY_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `PAY_method` varchar(80) DEFAULT NULL,
  `PAY_status` varchar(60) NOT NULL DEFAULT 'Authorized',
  `PAY_reference` varchar(120) DEFAULT NULL,
  `PAY_cardLast4` varchar(4) DEFAULT NULL,
  `PAY_cardholderName` varchar(190) DEFAULT NULL,
  `PAY_verificationStatus` varchar(120) DEFAULT NULL,
  `PAY_verifiedBy` varchar(120) DEFAULT NULL,
  `PAY_verifiedAt` datetime DEFAULT NULL,
  `PAY_date` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`PAY_id`),
  KEY `idx_payment_order` (`PAY_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_transaction`
--

LOCK TABLES `payment_transaction` WRITE;
/*!40000 ALTER TABLE `payment_transaction` DISABLE KEYS */;
INSERT INTO `payment_transaction` VALUES ('9facfedeb9548931af88','9facfedeb9548931af88',760.00,'Card','Paid','HB-9FACFEDE','4655','adwa','Auto accepted','honestbee-auto',NULL,'2026-05-13 11:07:29'),('fe5d971c18c56c20f5a5','fe5d971c18c56c20f5a5',230.00,'Card','Paid','HB-FE5D971C','4567','wadawd','Verified by seller','merchant-dm-store','2026-05-13 11:10:21','2026-05-13 11:08:58');
/*!40000 ALTER TABLE `payment_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `PROD_id` varchar(120) NOT NULL,
  `PROD_merchantId` varchar(120) DEFAULT NULL,
  `PROD_merchantName` varchar(190) DEFAULT NULL,
  `PROD_name` varchar(190) DEFAULT NULL,
  `PROD_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `PROD_category` varchar(120) DEFAULT NULL,
  `PROD_unit` varchar(80) DEFAULT NULL,
  `PROD_description` text DEFAULT NULL,
  `PROD_type` varchar(40) DEFAULT NULL,
  `PROD_tag` varchar(80) DEFAULT NULL,
  `PROD_rating` varchar(20) DEFAULT NULL,
  `PROD_image` text DEFAULT NULL,
  `PROD_alt` varchar(190) DEFAULT NULL,
  `PROD_approvalStatus` varchar(40) NOT NULL DEFAULT 'Active',
  `PROD_source` varchar(80) DEFAULT NULL,
  `PROD_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `PROD_updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`PROD_id`),
  KEY `idx_product_merchant` (`PROD_merchantId`),
  KEY `idx_product_status` (`PROD_approvalStatus`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rating`
--

DROP TABLE IF EXISTS `rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rating` (
  `RATE_id` varchar(120) NOT NULL,
  `RATE_orderId` varchar(120) DEFAULT NULL,
  `RATE_customerId` varchar(120) DEFAULT NULL,
  `RATE_riderId` varchar(120) DEFAULT NULL,
  `RATE_serviceScore` int(11) NOT NULL DEFAULT 5,
  `RATE_shopperScore` int(11) NOT NULL DEFAULT 5,
  `RATE_feedbackComment` text DEFAULT NULL,
  `RATE_date` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`RATE_id`),
  KEY `idx_rating_order` (`RATE_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rating`
--

LOCK TABLES `rating` WRITE;
/*!40000 ALTER TABLE `rating` DISABLE KEYS */;
INSERT INTO `rating` VALUES ('8981274d456b15d2e810','349b3804174bd094dab8','','',5,5,'nice','2026-05-09 16:00:22');
/*!40000 ALTER TABLE `rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refund`
--

DROP TABLE IF EXISTS `refund`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `refund` (
  `REFUND_id` varchar(120) NOT NULL,
  `REFUND_orderId` varchar(120) DEFAULT NULL,
  `REFUND_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `REFUND_reason` text DEFAULT NULL,
  `REFUND_status` varchar(60) NOT NULL DEFAULT 'Pending',
  `REFUND_date` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`REFUND_id`),
  KEY `idx_refund_order` (`REFUND_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refund`
--

LOCK TABLES `refund` WRITE;
/*!40000 ALTER TABLE `refund` DISABLE KEYS */;
/*!40000 ALTER TABLE `refund` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rider`
--

DROP TABLE IF EXISTS `rider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rider` (
  `RIDER_id` varchar(120) NOT NULL,
  `RIDER_firstName` varchar(80) DEFAULT NULL,
  `RIDER_lastName` varchar(80) DEFAULT NULL,
  `RIDER_email` varchar(190) DEFAULT NULL,
  `RIDER_password` varchar(255) DEFAULT NULL,
  `RIDER_phone` varchar(20) DEFAULT NULL,
  `RIDER_currentLocation` varchar(190) DEFAULT NULL,
  `RIDER_vehicleType` varchar(80) DEFAULT NULL,
  `RIDER_serviceArea` varchar(80) DEFAULT NULL,
  `RIDER_validId` text DEFAULT NULL,
  `RIDER_availabilityStatus` varchar(40) NOT NULL DEFAULT 'Unavailable',
  `RIDER_employmentStatus` varchar(40) NOT NULL DEFAULT 'Pending',
  `RIDER_maxActiveOrders` int(11) NOT NULL DEFAULT 1,
  `RIDER_role` varchar(40) NOT NULL DEFAULT 'rider',
  `RIDER_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `RIDER_updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`RIDER_id`),
  KEY `idx_rider_email` (`RIDER_email`),
  KEY `idx_rider_status` (`RIDER_employmentStatus`),
  KEY `idx_rider_service_area` (`RIDER_serviceArea`),
  CONSTRAINT `fk_rider_service_area` FOREIGN KEY (`RIDER_serviceArea`) REFERENCES `service_city` (`CITY_name`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rider`
--

LOCK TABLES `rider` WRITE;
/*!40000 ALTER TABLE `rider` DISABLE KEYS */;
/*!40000 ALTER TABLE `rider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_city`
--

DROP TABLE IF EXISTS `service_city`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_city` (
  `CITY_name` varchar(80) NOT NULL,
  PRIMARY KEY (`CITY_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_city`
--

LOCK TABLES `service_city` WRITE;
/*!40000 ALTER TABLE `service_city` DISABLE KEYS */;
INSERT INTO `service_city` VALUES ('Cebu City'),('Consolacion'),('Lapu-Lapu'),('Mandaue'),('Talisay');
/*!40000 ALTER TABLE `service_city` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stores`
--

DROP TABLE IF EXISTS `stores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stores` (
  `STORE_id` varchar(120) NOT NULL,
  `STORE_merchantId` varchar(120) DEFAULT NULL,
  `STORE_status` varchar(60) NOT NULL DEFAULT 'Open',
  `STORE_reviewedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`STORE_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stores`
--

LOCK TABLES `stores` WRITE;
/*!40000 ALTER TABLE `stores` DISABLE KEYS */;
INSERT INTO `stores` VALUES ('merchant-dm-store','merchant-dm-store','Open','2026-05-07 18:43:51');
/*!40000 ALTER TABLE `stores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `substitution`
--

DROP TABLE IF EXISTS `substitution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `substitution` (
  `SUB_id` varchar(120) NOT NULL,
  `SUB_itemId` varchar(120) DEFAULT NULL,
  `SUB_orderId` varchar(120) DEFAULT NULL,
  `SUB_originalItem` varchar(190) DEFAULT NULL,
  `SUB_substituteItem` varchar(190) DEFAULT NULL,
  `SUB_approvalStatus` varchar(60) NOT NULL DEFAULT 'Pending',
  `SUB_approvalDate` datetime DEFAULT NULL,
  `SUB_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`SUB_id`),
  KEY `idx_sub_order` (`SUB_orderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `substitution`
--

LOCK TABLES `substitution` WRITE;
/*!40000 ALTER TABLE `substitution` DISABLE KEYS */;
/*!40000 ALTER TABLE `substitution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_account`
--

DROP TABLE IF EXISTS `user_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_account` (
  `USER_id` varchar(120) NOT NULL,
  `USER_firstName` varchar(80) DEFAULT NULL,
  `USER_lastName` varchar(80) DEFAULT NULL,
  `USER_email` varchar(190) NOT NULL,
  `USER_phone` varchar(20) DEFAULT NULL,
  `USER_password` varchar(255) NOT NULL,
  `USER_role` varchar(40) NOT NULL DEFAULT 'customer',
  `USER_linkedId` varchar(120) DEFAULT NULL,
  `USER_status` varchar(40) DEFAULT NULL,
  `USER_city` varchar(80) DEFAULT NULL,
  `USER_preferredDeliveryTime` varchar(60) DEFAULT NULL,
  `USER_createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `USER_updatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`USER_id`),
  UNIQUE KEY `USER_email` (`USER_email`),
  KEY `idx_user_city` (`USER_city`),
  CONSTRAINT `fk_user_city` FOREIGN KEY (`USER_city`) REFERENCES `service_city` (`CITY_name`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_account`
--

LOCK TABLES `user_account` WRITE;
/*!40000 ALTER TABLE `user_account` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_account` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-14 13:21:05
